{% extends 'base.html' %}

{% block title %}  Password change {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <br><br>
                <div class="card">
                    <div class="card-header bg-primary text-light">
                        <h3 class="text-center">Password changed! </h3>
                    </div>
                    <div class="card-body text-center">
                        <p><b>You have succesfully changed your password!</b></p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="{% url 'profile' %}" class="btn btn-primary">Go back to Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}