{% extends 'base.html' %}

{% block title %} Reset password{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <br><br><br>
                <div class="card">
                    <div class="card-header bg-primary text-light">
                        <h3 class="text-center"> Reset your password</h3>
                    </div>
                    <div class="card-body text-center">
                        <p><b>Enter the e-mail asociated with your account!</b></p>
                        <p>We will e-mail you with the verification link in order to reset your password!</p>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            {{ form }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-primary">Send verification link</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}