<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Money Manager</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if not user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'dashboard' %}">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Transactions
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="{% url 'create_transaction' %}">Add new transaction</a>
                            </li>
                            <li><a class="dropdown-item" href="{% url 'transactions_list' %}">List of transactions</a>
                            </li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            {% if user.is_authenticated and procent and limit %}
                <div class="w-25 me-3">
                    <small class="text-light"><b>Used: {{ total_expenses|floatformat:2 }} |
                        Limit: {{ limit|floatformat:2 }}</b></small>
                    <div class="progress" style="height: 20px;">
                        <div class="progress-bar progress-bar-striped progress-bar-animated
            {% if procent < 50 %}bg-success{% elif procent < 90 %}bg-warning{% else %}bg-danger{% endif %}"
                             role="progressbar"
                             style="width: {{ procent }}%;"
                             aria-valuenow="{{ total_expenses }}"
                             aria-valuemin="0"
                             aria-valuemax="{{ limit }}">
                            <b> {{ procent }}%</b>
                        </div>
                    </div>
                </div>
            {% endif %}
            <div>
                {% if user.is_authenticated %}
                    <form method="POST" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">
                            Logout {{ user.username|title }}
                        </button>
                    </form>
                {% else %}
                    <a class="btn btn-outline-light" href="{% url 'login' %}">Login</a>
                    <a class="btn btn-outline-light" href="{% url 'create_user' %}">Sign up</a>
                {% endif %}
            </div>
        </div>
    </div>
</nav>