{% extends 'base.html' %}

{% block title %} List of transactions {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered border-danger table table-dark table-striped">
                    <thead class="table-light">
                    <tr>
                        {% if first_transaction_date and last_transaction_date %}
                            <td><strong>First transaction:</strong> {{ first_transaction_date|date:"d-m-Y" }} </td>
                            <td><strong>Last transaction:</strong> {{ last_transaction_date|date:"d-m-Y" }}</td>
                            <td><strong>Total:</strong> {{ total|floatformat:2 }}</td>
                        {% else %}
                            <p>No transactions found.</p>
                        {% endif %}
                    </tr>
                </table>
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Transaction type</th>
                        <th>Transaction date</th>
                        <th>Transaction update</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for transaction in all_transactions %}
                        <tr>
                            <td> {{ transaction.name }}</td>
                            <td> {{ transaction.amount }}</td>
                            <td> {{ transaction.transaction_type| title }}</td>
                            <td> {{ transaction.transaction_date|date:"d-m-Y" }} </td>
                            <td>
                                {{ transaction.updated_at|date:"d-m-Y H:i:s" }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}