{% extends 'base.html' %}

{% block title %} Update {{ transaction }} {% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <br><br>
                <div class="card">
                    <div class="card-header bg-primary text-light">
                        <h3 class="text-center">Update {{ transaction }} </h3>
                    </div>
                    <form method="POST">
                        {% csrf_token %}
                        <div class="card-body">
                            <p>Amount {{ transaction.amount }}</p>
                            <p>Transaction type: <b>{{ transaction.transaction_type| title }}</b></p>
                            {{ form }}
                        </div>
                        <div class="card-footer text-center">
                            <button type="submit" class="btn btn-success">Udate</button>
                            <a href="{% url 'dashboard' %}" class="btn btn-danger">Cancel</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}